* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --background: #fafafa;
  --background-secondary: #ffffff;
  --color-primary: #3c96ed;
  --color-secondary: #ffffff;
  --border-panel: #e6e6e6;
  --border-input: #eceaea;
  --placeholder-color: #a5a4a4;
  --text-collor: #000;
  --focus-color: #a1a1a1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--background);
  user-select: none;
}

img {
  width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  width: 800px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.column {
  flex: 1;
  margin-bottom: 60px;
}

.left {
  background-image: url(assets/main-foto.png);
  background-size: 380px;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.login-panel {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-panel);
  border-radius: 4px;
  padding: 20px 40px;
  text-align: center;
}

.logo {
  margin-inline: auto;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 10px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid var(--border-input);
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
}

input[type="text"]:focus,
input[type="password"]:focus{
  outline: none;
  border-color: var(--focus-color);
}

input[type="submit"] {
  padding: 6px;
  border: 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

input::placeholder{
  color: var(--placeholder-color);
}

.infobox{
  background-color: var(--background-secondary);
  border: 1px solid var(--border-panel);
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox a{
  user-select: none;
}

footer{
  width: 95%;
  text-align: center;
}

.footer-inner a{
  text-transform: uppercase;
  color: var(--text-collor);
  font-weight: bold;
  font-size: 12px;
  margin-right: 2%;
}

.text-small{
  display: inline-block;
  color: #808080;
  font-size: 12px;
}

.apps-downloads{
  text-align: center;
  margin-top: 20px;
}

.apps{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.apps img{
  width: 135px;
  cursor: pointer;
}