* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --background: #fafafa;
  --background-secondary: #ffffff;
  --color-primary: #3c96ed;
  --color-secondary: #ffffff;
  --border-panel: #e6e6e6;
  --border-input: #eceaea;
  --placeholder-color: #a5a4a4;
  --text-collor: #000;
  --text-secondary: #808080;
  --focus-color: #a1a1a1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--background);
  user-select: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 20px;
  width: 800px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.column {
  flex: 1;
}

.left {
  background-image: url(assets/main-foto.png);
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
  height: 470px;
}

.login-panel {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-panel);
  border-radius: 4px;
  padding: 20px 40px;
  text-align: center;
}

.logo {
  margin-inline: auto;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 5px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid var(--border-input);
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: var(--focus-color);
}

input[type="submit"] {
  padding: 6px;
  border: 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

input::placeholder {
  color: var(--placeholder-color);
}

.infobox {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-panel);
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
}

.footer-inner a {
  text-transform: uppercase;
  color: var(--text-collor);
  font-weight: bold;
  font-size: 12px;
  margin-right: 2%;
}

.text-small {
  display: inline-block;
  color: var(--text-secondary);
  font-size: 12px;
}

.apps-downloads {
  text-align: center;
  margin-top: 20px;
}

.apps {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.apps img {
  width: 135px;
  cursor: pointer;
}

.container-signup {
  width: 450px;
  margin-bottom: 20px;
}

.message {
  width: 65%;
  margin-inline: auto;
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 20px;
  margin-block: 5px;
}

.cta-button {
  width: 100%;
  height: 30px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 0;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media(max-width: 805px) {
  .container {
    width: 100%;
  }

  .container-signup {
    width: 100%;
  }

  .left {
    display: none;
  }

  .login-panel,
  .infobox {
    margin-inline: auto;
    width: 70%;
    padding-inline: 10px;
  }
}

@media(max-width: 596px) {

  .login-panel,
  .infobox {
    width: 90%;
  }
}